@media screen and (min-width: 48rem) {
  .fa-bars {
    display: none;
  }

  section:nth-child(1) {
    display: block;
  }

  section:nth-child(1),
  section:nth-child(2) {
    border: 1px solid white;
    max-width: 640px;
  }
}
